.characteristics {
  padding-top: 158px;

  &__accordions {
    display: none;
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 26px;
  }

  &__inner {
    display: grid;
    grid-template-columns: 630px 1fr;
    gap: 20px;
  }

  &__poster-inner {
    height: 100%;
    width: 100%;
  }

  &__poster-wrapper {
    padding: 50px;
    background-color: #f5f4fa;
    position: relative;
    height: 100%;
  }

  &__poster {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      opacity: 0;
      transform: rotateY(90deg);
      transition:
        opacity 0.3s ease,
        transform 0.5s ease-in-out;

      &.active {
        transform: rotateY(0);
      }
    }
  }

  &__certificate {
    display: flex;
    align-items: center;
    gap: 96px;
    margin-top: 33px;

    a,
    span {
      color: $primary-green;
      font-size: 13px;
      font-weight: 500;
    }

    a {
      display: flex;
      align-items: center;
      gap: 8px;

      img {
        height: 15px;
        width: 15px;
        object-fit: contain;
      }
    }
  }

  &__country {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
    min-width: 50px;
    max-width: 50px;
    min-height: 50px;
    max-height: 50px;
    border-radius: 100%;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: static;
      width: 30px;
      height: 30px;
    }
  }

  &__label {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(33%, 27%);
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    position: relative;
    background-color: #f5f4fa;
    max-height: 124px;
    min-height: 124px;
    transition: ease-in-out $transition;
    cursor: pointer;

    &-inner {
      padding: 12px 15px;
      max-height: 124px;
      min-height: 124px;
    }

    &-title {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      max-width: 277px;
      min-height: 84px;
      transition: ease-in-out $transition;
    }

    &-text {
      background-color: $white;
      width: 100%;
      padding-right: 65px;
      font-size: 14px;
      font-weight: 400;
      color: $white;
      opacity: 0;
      transition: ease-in-out $transition;
      padding: 12px 85px 12px 15px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      white-space: pre-line;
    }

    &-icon {
      font-size: 0;
      position: absolute;
      z-index: 2;
      right: 15px;
      bottom: 15px;
      transition: ease-in-out $transition;

      width: 55px;
      height: 55px;

      img {
        width: 100%;
        height: 100%;
        transition: 0.1s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;
      }

      &--hover {
        opacity: 0;
      }
    }

    &:hover {
      background-color: $primary-green;

      .characteristics__item-title {
        color: $white;
      }

      .characteristics__item-text {
        transform: translateY(calc(100% - 1px));
        background-color: $primary-green;
        z-index: 3;
      }

      .characteristics__item-icon {
        z-index: 4;
      }

      .characteristics__item-icon--static {
        opacity: 0;
      }

      .characteristics__item-icon--hover {
        opacity: 1;
      }

      .characteristics__item-text {
        opacity: 1;
      }
    }

    &:last-child {
      padding: 12px 15px;
      display: flex;
      align-items: flex-end;

      .characteristics__item-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 15px;
        width: 100%;
        max-width: 100%;
        min-height: 84px;
        max-height: 126px;
        background-color: #f5f4fa;
      }

      .characteristics__item-text {
        position: static;
        padding: 0;
        padding-right: 85px;
        opacity: 0;
        background-color: transparent;
      }

      .characteristics__item-inner {
        height: 0;
        padding: 0;
        min-height: 0;
        max-height: 0;
      }

      &:hover {
        .characteristics__item-text {
          transform: none;
          color: $white;
          opacity: 1;
        }

        .characteristics__item-title {
          background-color: $primary-green;
          transform: translateY(-100%);
        }
      }
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 630px 1fr;
    gap: 20px;
  }
}

@media (max-width: 1280px) {
  .characteristics {
    padding-top: 80px;

    &__title {
      font-size: 24px;
      margin-bottom: 32px;
    }

    &__inner,
    &__accordions {
      display: flex;
      flex-direction: column;
    }

    &__inner {
      gap: 0;
    }

    &__accordions {
      gap: 3px;
    }

    &__poster {
      min-height: 50dvh;

      &-inner {
        margin-top: 5px;
      }
    }

    &__items {
      display: none;
    }

    &__label {
      transform: none;
      width: 100px;
    }

    &__country {
      min-width: 40px;
      max-width: 40px;
      min-height: 40px;
      max-height: 40px;
      img {
        position: static;
        min-width: 24px;
        min-height: 24px;
        max-width: 24px;
        max-height: 24px;
      }
    }

    &__info {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 20px;
      margin-top: 17px;
    }

    &__certificate {
      flex-direction: column;
      gap: 20px;
      margin: 0;
    }

    .accordion {
      position: relative;
      width: 100%;
      max-width: 100%;
      overflow: hidden;
      background-color: #f5f4fa;

      &__intro {
        position: relative;
        cursor: pointer;
        min-height: 64px;
        max-height: 64px;
        text-transform: uppercase;
        color: $black;
        font-weight: 500;
        font-size: 13px;
        padding: 8px 9px;
        transition: $transition ease-in-out;
      }

      &__title {
        max-width: 80%;
        width: 100%;
        color: $black;
        transition: $transition ease-in-out;
      }

      &__icon {
        position: absolute;
        z-index: 3;
        bottom: 10px;
        right: 10px;
        min-width: 32px;
        max-width: 32px;
        max-height: 32px;
        min-height: 32px;

        img {
          min-width: 32px;
          max-width: 32px;
          max-height: 32px;
          min-height: 32px;
          position: absolute;
          top: 0;
          left: 0;
          transition: 0.1s ease-in-out;
        }

        &--hover {
          opacity: 0;
        }
      }

      &__content {
        padding: 0 50px 0 9px;
        max-height: 0;
        overflow: hidden;
        will-change: max-height;
        transition: $transition ease-in-out;
        color: #f1f1f1;
        opacity: 0;
        background-color: #f5f4fa;
      }

      &__active {
        .accordion__intro {
          background: $primary-green;
        }

        .accordion__title {
          color: $white;
        }

        .accordion__content {
          padding: 8px 50px 8px 9px;
          opacity: 1;
          background-color: $primary-green;
        }

        .accordion__icon {
          .accordion__icon--hover {
            opacity: 1;
          }

          .accordion__icon--static {
            opacity: 0;
          }
        }
      }
    }
  }
}
