.configurator {
  background-color: $black;
  padding-top: 140px;
  padding-bottom: 130px;
  color: $white;

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__description {
    max-width: 482px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__title {
    margin: 0;
    font-size: 40px;
    font-weight: 400;

    &-default--mob {
      display: none;
    }

    &-marked {
      background: $primary-green;
      width: fit-content;
      padding: 0 10px;
      white-space: nowrap;
    }
  }

  &__slider {
    min-width: 628px;
    width: 100%;
    max-width: 628px;
  }

  &__submit-form {
    width: 100%;
    height: 40px;
    span {
      color: $black;
    }

    &:hover span {
      color: $white;
    }
  }

  &__slide-btn {
    height: 40px;
    background: $black-800 !important;

    span,
    &:hover {
      color: $white;
    }

    &.disabled {
      pointer-events: none;
      background: $black-800;
      user-select: none;
      opacity: 0.5;

      &:hover:before {
        background: $black-800;
      }
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 332px;

    &-number {
      font-size: 12px;
    }

    &-description {
      font-size: 16px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .js-step-1-2 {
      margin-left: auto;
    }

    &-buttons {
      width: 100%;
      gap: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-step-1 {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        margin-left: auto;
      }

      &-error {
        color: rgb(255, 33, 33);
        font-size: 16px;
        font-weight: 500;
        display: none;

        &.visible {
          display: block;
        }
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &-item {
      padding-bottom: 32px;
      border-bottom: 1px solid $black-600;
      display: flex;
      flex-direction: column;
      gap: 20px;

      &--depth {
        .radios {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 24px 0;
        }
      }

      &--variant {
        .variants {
          display: flex;
          flex-direction: column;
          gap: 20px;

          &__item {
            display: flex;
            align-items: center;
            gap: 32px;

            &-title {
              min-width: 170px;
              max-width: 170px;
              color: $black-500;
            }

            &-radios {
              display: flex;
              align-items: center;
              gap: 20px;
            }
          }
        }
      }

      &--colors {
        margin-bottom: 30px;
        .colors {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 40px;
        }
      }

      &-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
      }
    }
  }

  &__summary {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: $white;
    font-size: 15px;

    &-item {
      padding-bottom: 32px;
      border-bottom: 1px solid $black-600;
      align-items: flex-start;
      justify-content: space-between;
      display: none;

      &-block {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &-title {
        max-width: 193px;
      }

      &.visible {
        display: flex;
      }

      &-inner {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: right;
      }

      &-inner-title {
        font-size: 12px;
        color: $black-500;
      }
    }

    &-accessorises-slider {
      min-width: 0 !important;
      width: 100%;

      .accessorises__item {
        width: 100%;

        &-inner:before {
          display: none;
        }
      }

      .accessorises__slider-controls {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 8px;
        margin-bottom: 12px;
        position: relative;

        &:before {
          content: 'Аксессуары';
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          color: $white;
          font-size: 16px;
        }
      }

      .accessorises__slider-btn {
        width: 32px;
        height: 32px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        position: relative;
        transition: all 0.3s ease;
        margin: 0;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &--prev {
          background-image: url('/images/arrow-slider-prev.svg');
        }

        &--next {
          background-image: url('/images/arrow-slider-next.svg');
        }

        &.swiper-button-disabled {
          opacity: 0.33;
          pointer-events: none;
        }
      }
    }

    .js-data-accessorises {
      display: flex;
      flex-direction: column;
      gap: 24px;
      border: none;
    }

    &-accessorises-checkboxes .accessorises__checkboxes-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .validation-error {
    .configurator__slide-item-title,
    .variants__item-title {
      color: rgb(255, 33, 33);
    }
  }

  .footer__form-agreement {
    margin-top: 20px;
  }

  &__form-title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  &__form-subtitle {
    font-size: 16px;
    margin-bottom: 32px;
    color: $black-400;
    max-width: 65%;
  }

  .input {
    position: relative;

    .input__message {
      position: absolute;
    }
  }

  .footer__form-inputs {
    gap: 30px;
  }

  .form__success {
    max-width: 400px;
    &-check {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .form__error {
    &-check {
      background-color: $white;
      margin-left: auto;
      margin-right: auto;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}

@media (max-width: 1280px) {
  .configurator {
    padding-top: 80px;
    padding-bottom: 80px;

    .configurator__data-accessorises-checkboxes {
      width: 100%;
    }

    .accessorises__checkbox-item {
      justify-content: space-between;
    }

    &__summary {
      gap: 60px;
    }

    &__form-title {
      font-size: 28px;
      margin-bottom: 16px;
    }

    &__form-subtitle {
      font-size: 14px;
      margin-bottom: 32px;
      max-width: 100%;
    }

    .form__success {
      margin: auto;
    }

    .form__success-check {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
      svg {
        width: 24px;
        height: 24px;
      }
    }

    .form__success-title {
      font-size: 28px;
    }

    .form__error {
      margin: auto;
    }

    .form__error-check {
      width: 40px;
      height: 40px;
      margin-bottom: 20px;
      svg {
        width: 24px;
        height: 24px;
      }
    }

    .form__error-title {
      font-size: 28px;
    }

    &__body {
      flex-direction: column;
      gap: 60px;
    }

    &__description {
      max-width: 100%;
      gap: 16px;
    }

    &__title {
      font-size: 28px;
    }

    &__step {
      max-width: 100%;

      &-description {
        font-size: 14px;
      }

      &-number {
        font-size: 10px;
      }
    }

    &__slider {
      min-width: 100%;
      max-width: 100%;
    }

    &__slide {
      &-inner {
        gap: 24px;
      }

      &-item {
        gap: 16px;
        padding-bottom: 24px;

        &--colors {
          margin-bottom: 0;
        }

        &-title {
          font-size: 16px;
        }
      }

      &-buttons-error {
        font-size: 14px;
      }
    }

    &__data-item {
      padding-bottom: 24px;

      &:nth-last-child(1) {
        padding-bottom: 0;
      }
    }

    .configurator__data-item-title {
      max-width: 50%;
    }

    .configurator__data-item-inner-title {
      font-size: 10px;
    }

    .configurator__data-item-title,
    .configurator__data-item span {
      font-size: 14px;
    }

    .configurator__data {
      gap: 24px;
    }

    .accessorises__slider-btn {
      width: 28px;
      height: 28px;
    }

    .accessorises__slider-controls::before {
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .configurator__slide-item--depth .radios {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px 36px;
  }

  .configurator__slide-item--variant .variants {
    flex-direction: row;
  }

  .configurator__slide-item--variant .variants__item,
  .configurator__slide-item--variant .variants__item-radios {
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
  }

  .configurator__slide-item--variant .variants__item-title {
    min-width: 100%;
    max-width: 100%;
  }

  .configurator__slide-item--colors .colors {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .configurator__slide-buttons-step-1 {
    flex-direction: column-reverse;
    align-items: flex-end;
    text-align: center;
    gap: 10px;
  }
}

@media (max-width: 410px) {
  .configurator__title-default {
    display: none;

    &--mob {
      display: block;
    }
  }
}
