-
  const defaultConfiguratorProps = {
      classes: '',
  }

  const configuratorStatic = {
    title: {
      marked: 'Создайте свой',
      default: 'телекоммуникационный шкаф ДОБРЫНЯ®'
    },
  }



mixin configurator(props = defaultConfiguratorProps, ...dataset)
  -
    const checkProps = {
        classes: props.classes ? props.classes : defaultConfiguratorProps.classes,
    }
  section.configurator(data-smooth-scrolling="configurator")
    .container
      .configurator__body
        .configurator__description
          h2.configurator__title
            span.configurator__title-marked= configuratorStatic.title.marked
            span.configurator__title-default= configuratorStatic.title.default
            span.configurator__title-default--mob телекоммуникационный
              br
              | шкаф ДОБРЫНЯ®
          .configurator__step
            .configurator__step-number
              | Шаг&nbsp;
              span.configurator__step-number-current
            .configurator__step-description

        .configurator__slider
          .swiper
            .swiper-wrapper
              include ./step-1
              include ./step-2
              include ./step-3

        .form__success.js-form-success
          .form__success-check
            include ../../assets/icon-system/icon-check
          .form__success-title Заявка успешно отправлена!
          .form__success-subtitle Мы будем рады обсудить ваш проект и помочь вам реализовать все ваши идеи
        .form__error.js-form-error
          .form__error-check
            include ../../assets/icon-system/icon-close
          .form__error-title Что-то пошло не так
          .form__error-subtitle Поробуйте отправить форму позже
