include ./acessorises
.swiper-slide(
  data-step-number="2",
  data-step-description="Подберите для вашего шкафа необходимые аксессуары"
)
  +accessorises
  .configurator__slide.configurator__slide--2
    .configurator__slide-buttons
      +btn({name: 'Назад', classes: 'configurator__slide-btn js-step-2-1'})
      +btn({name: 'Далее', classes: 'configurator__slide-btn js-step-2-3'})
