.swiper-slide(data-step-number="3" data-step-description="Проверьте выбранные данные и оформите заявку")
    .configurator__slide.configurator__slide--3 
        .configurator__slide-buttons
            +btn({name: 'Назад', classes: 'configurator__slide-btn js-step-3-2'})
            +btn({name: 'Отправить', type: 'submit', classes: 'configurator__submit-form'})