<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M26.9316 9.0681L9.06789 26.9318" stroke="white"/>
<path d="M26.9316 26.9318L9.06789 9.0681" stroke="white"/>
</svg>
