<svg width="249" height="320" viewBox="0 0 249 320" fill="none" xmlns="http://www.w3.org/2000/svg">
<g opacity="0.03">
<path d="M201.209 208.23C201.209 219.66 194.839 230.095 184.589 235.467L124.94 266.729L65.2918 235.467C55.041 230.095 48.6712 219.66 48.6712 208.23V181.678H0.855469V208.23C0.855469 237.065 16.9276 263.389 42.7865 276.956L124.919 320L207.052 276.956C232.932 263.389 248.983 237.065 248.983 208.23V181.678H201.188V208.23H201.209Z" fill="white"/>
<path d="M207.052 43.0442L124.919 0L42.7865 43.0442C16.9276 56.5902 0.855469 82.9354 0.855469 111.77V155.768H101.022V214.267H148.816V155.768H248.983V111.77C248.983 82.9354 232.911 56.611 207.052 43.0442ZM48.7978 108.762C49.8102 98.535 55.9269 89.4283 65.2707 84.5119L124.919 53.2504L184.567 84.5119C193.911 89.4076 200.049 98.5143 201.04 108.762H48.7978Z" fill="white"/>
</g>
</svg>
