<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
<path d="M12.0253 15.6834C11.8669 15.6834 11.7086 15.6251 11.5836 15.5001C11.3419 15.2584 11.3419 14.8584 11.5836 14.6167L16.2003 10.0001L11.5836 5.38343C11.3419 5.14176 11.3419 4.74176 11.5836 4.5001C11.8253 4.25843 12.2253 4.25843 12.4669 4.5001L17.5253 9.55842C17.7669 9.80008 17.7669 10.2001 17.5253 10.4417L12.4669 15.5001C12.3419 15.6251 12.1836 15.6834 12.0253 15.6834Z" fill="#1D1D1B"/>
<path d="M16.9415 10.625H2.9165C2.57484 10.625 2.2915 10.3417 2.2915 10C2.2915 9.65833 2.57484 9.375 2.9165 9.375H16.9415C17.2832 9.375 17.5665 9.65833 17.5665 10C17.5665 10.3417 17.2832 10.625 16.9415 10.625Z" fill="#1D1D1B"/>
</svg>