.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 46px;
  border: none;
  background: $white;
  cursor: pointer;
  overflow: hidden;
  transition: ease-in-out $transition;

  &__text {
    position: relative;
    z-index: 2;
    white-space: nowrap;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: $primary-green;
    transition: ease-in-out $transition;
    top: 0;
    left: 0;
    z-index: 1;
    transform: translateY(110%);
  }

  &:hover::before {
    transform: translateY(0);
  }

  &:hover {
    color: $white;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.btn__text {
  font-size: 16px !important;

  @media (max-width: 1280px) {
    font-size: 14px !important;
  }
}
