extends ../../layouts/layout

block vars

block content
  include ../../components/hero
  include ../../components/constructive
  include ../../components/slider
  include ../../components/characteristics
  include ../../components/developments
  .wrapper
    +hero
    +characteristics
    +constructive
    //.section(data-smooth-scrolling="configurator")
    +slider
    +developments
