extends ../../layouts/layout

block vars

block content
  include ../../components/hero
  include ../../components/constructive
  include ../../components/slider
  include ../../components/characteristics
  .wrapper
    +hero
    +characteristics
    +constructive
    +slider
    .section(data-smooth-scrolling="configurator") Конфигуратор
