extends ../../layouts/layout

block vars

block content
  include ../../components/hero
  include ../../components/constructive
  include ../../components/slider
  include ../../components/characteristics
  include ../../components/developments
  include ../../components/configurator/configurator
  include ../../components/video
  .wrapper
    +hero
    .lazy-load(data-lazy="characteristics")
      +characteristics
    .lazy-load(data-lazy="video")
      +video
    .lazy-load(data-lazy="constructive")
      +constructive
    .lazy-load(data-lazy="configurator")
      +configurator
    .lazy-load(data-lazy="slider")
      +slider
    .lazy-load(data-lazy="developments")
      +developments