extends ../../layouts/layout

block vars

block content
  .wrapper
    .policy
      .container 
        .breadcrumbs
          a(href='/').breadcrumbs__link.breadcrumbs__link--main Главная
          span 
            img.breadcrumb__separator(
              src=`./images/arrow-r.svg`,
              alt="breadcrumb-arrow"
            )
          span.breadcrumbs__link.breadcrumbs__link--current Политика конфиденциальности
        div
          h1 Политика конфиденциальности

          h2 Соглашение на обработку персональных данных
          p Настоящая Политика конфиденциальности определяет, каким образом компания ООО «ПОЛКОВОДЕЦ» собирает, использует, хранит и раскрывает информацию, полученную от пользователей на веб-сайте&nbsp;
            a(href="https://dobrynya.tech") https://dobrynya.tech
            | &nbsp;(«Сайт»). Данная политика конфиденциальности относится как к Сайту, всем поддоменам Сайта, так и ко всем продуктам и услугам, предлагаемым ООО «ПОЛКОВОДЕЦ»
          p Эта страница содержит сведения о том, какую информацию мы или третьи лица могут получать, когда Вы пользуетесь нашим Сайтом. Мы надеемся, что эти сведения помогут Вам принимать осознанные решения в отношении предоставляемой нам информации о себе.
          p Настоящая Политика конфиденциальности распространяется непосредственно на этот Сайт и на информацию, получаемую с его помощью. Она не распространяется ни на какие другие сайты и не применима к веб-сайтам третьих лиц, которые могут содержать упоминание о нашем Сайте и с которых могут делаться ссылки на Сайт, а также ссылки с этого Сайта на другие сайты сети Интернет.

          h2 Основные положения нашей политики конфиденциальности
          p Мы не раскрываем Вашу персональную информацию третьим лицам.
          p Мы не передаем Вашу контактную информацию без Вашего личного согласия.
          p Вы самостоятельно определяете объем и степень раскрываемой персональной информации.

          h2 Собираемая информация
          p Персональная информация, осознано предоставленная лично Вами во время процедуры отправки формы запроса на нашем Сайте.
          p Техническая информация, которая собирается автоматически с помощью программного обеспечения во время посещения Сайта, и которая становится доступной администрации Сайта из стандартных журналов регистрации сервера.
          p Предоставленная Вами персональная информация во время отправки формы запроса не подлежит проверке на подлинность.
          p Вся техническая информация, включая Ваш IP-адрес, анализируется нами на агрегированной основе для дальнейшей разработки предложений по улучшению и развитию Сайта.
          p Взаимосвязь между IP-адресом и Вашей персональной информацией не подлежит раскрытию третьим лицам, за исключением случаев, предусмотренных законодательством.
          p Информация о посещении Сайта фиксируется установленными статистическими счетчиками.

          h2 Цели использования полученной информации
          p Повышение качества предлагаемых продуктов.
          p Оценка эксплуатации сайтов, продуктов и услуг ООО «ПОЛКОВОДЕЦ».
          p Персонификация Вашей работы с Сайтом и анонимная подготовка статистики на основе таких параметров, как активность на сайте, время посещения, адрес сайта, который вывел Вас на наш Сайт.
          p Оценка эффективности нашей рекламы, акций и кампаний по продвижению продуктов и услуг.
          p Упрощение использования Сайта, а также адаптация его работы и нашей продукции с учетом Ваших индивидуальных потребностей и интересов.
          p Сбор технической информации, включая информацию об эксплуатируемом Вами устройстве для посещения сайта компании и операционной системе, с целью привязки ее к Вашей личной информации для дальнейшего обеспечения высочайшего уровня работы в сети.
          p Поддержание контактов с Вами для оперативного предоставления интересующей информации о наших продуктах и услугах на согласованных условиях и запроса, отправленного Вами ранее.

          h2 Цели использования полученной информации о Вас
          p Информирование Вас о продуктах и услугах, включая от третьих лиц, представляющие интерес с нашей точки зрения.
          p Предложения об участиях в различных конкурсах или рекламных кампаниях с возможностью отказа от получения уведомлений при желании в любой момент времени

          h2 Цели использования Вашей личной информации
          p Информирование Вас об акциях и спецпредложениях.
          p Оперативное предоставление информации о предстоящих мероприятиях.
          p Ответы на Ваши вопросы.
          p Информацию, собираемую для определенных целей, мы не храним дольше срока, необходимого для реализации этих целей, за исключением случаев юридического характера.
          p В процессе удаления информации с серверов с целью ее защиты от преднамеренного или случайного взлома, мы не можем немедленно ликвидировать остаточные копии с серверов или из систем резервного копирования.

          h2 Предоставление информации третьим лицам
          p Ни в каких случаях, кроме случаев, предусмотренных законодательством, мы не раскрываем и не предоставляем третьим лицам Вашу личную информацию.

          h2 Использование Сookies
          p Использование небольших текстовых файлов Сookies, которые сохраняются на Вашем компьютере при помощи веб-браузера и работают в качестве идентификатора пользователей, могут быть использованы для последующей автоматической авторизации на Сайте и сбора статистических данных. Важно знать и помнить, что в данных файлах мы никогда не сохраняем ни персональные данные, ни пароли.
          p Если Вы по каким-либо причинам не доверяете использованию технологий Сookies, то за Вами закреплено право запретить сохранение файлов на компьютере, который предоставляет доступ к нашему Сайту.

          h2 Ссылки на другие сайты
          p Мы не несем ответственности за политику конфиденциальности других веб-сайтов, на которые ведут возможные ссылки, содержащиеся на нашем Сайте. Будьте внимательны и бдительны, покидая наш Сайт. Настоящая политика конфиденциальности распространяется исключительно на информацию, собираемую Сайтом
            a(href="https://dobrynya.tech") https://dobrynya.tech

          h2 Защита данных
          p Защиту информации, которую предоставляет пользователь, осуществляет администрация Сайта и использует ее согласно с принятой Политикой конфиденциальности. На Сайте используются общепринятые методы безопасности для обеспечения защиты информации от потери, искажения и несанкционированного распространения. Безопасность реализуется программными средствами сетевой защиты, процедурами проверки доступа, применением криптографических средств защиты информации, соблюдением политики конфиденциальности.
          p Администрация Сайта никогда не запрашивает пароль доступа к Вашему аккаунту и никогда не меняет его по требованию кого-либо, в том числе и по Вашему. В случае необходимости, пароль Вы меняете самостоятельно, через специальную форму.

          h2 Заключительные положения
          p Никакие из содержащихся здесь заявлений не означают заключения договора или соглашения между Владельцем Сайта и Пользователем, предоставляющим персональную информацию. Политика конфиденциальности лишь проинформирует Вас о подходах Сайта к работе с персональными данными.
          p Мы оставляем за собой право вносить изменения в настоящую Политику конфиденциальности в любое время без предварительного уведомления.