meta(charset="UTF-8")
meta(
  name="viewport",
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
)
link(rel="icon", type="image/svg+xml", href="./icons/vite.svg")

script(src="./libs/hystmodal.min.js" defer)

