meta(charset="UTF-8")
meta(
  name="viewport",
  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
)
link(rel="icon", type="image/svg+xml", href="./icons/vite.svg")

link(rel="preload", href="./assets/styles/main.css", as="style")
link(rel="preload", href="./assets/styles/parts/components/header.css", as="style")

script(src="./libs/hystmodal.min.js" defer)

