block vars
include ../../ui/btn

block content
  .wrapper.page-error
      .container
          .page-error__inner
              .page-error__text
                h1.page-error__500-title Технические неполадки
                p.page-error__500-subtitle Наш сайт находится на техническом обслуживании и скоро будет вновь работать
              img.page-error__logo(src="./images/footer-text.svg")
