:root {
  //fonts
  --primary-font: Montserrat, sans-serif;

  //colors
  --primary-green: #008a50;
  --white: #fff;
  --black: #1c1c1c;
  --black-300: #C6C6C6;
  --black-400: #aaaaaa;
  --black-500: #8e8e8e;
  --black-600: #717171;
  --black-800: #393939;

  // Other
  --transition: 0.3s;
}

// Fonts
$primary-font: var(--primary-font);

// colors
$primary-green: var(--primary-green);
$white: var(--white);
$black: var(--black);
$black-300: var(--black-300);
$black-400: var(--black-400);
$black-500: var(--black-500);
$black-600: var(--black-600);
$black-800: var(--black-800);

// Other
$transition: var(--transition);
