@import './fonts';
@import './vars';
@import './mixins';
@import './settings';
@import './classes';
@import './parts/layouts';
@import './parts/components';
@import './parts/ui';
@import './parts/modal-windows';
@import './libs';
@import './media';

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  color: $black;
}

@media (max-width: 1280px) {
  :root {
    font-size: 14px;
  }
}

html,
body {
  width: 100%;
  background-color: $white;
  overflow-x: hidden;
}

p {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

*:focus-visible {
  outline-color: $black;
  outline-style: dotted;
  outline-width: 3px;
  outline-offset: 5px;
  -moz-outline-radius: 30px;
  transition: 0s;
}

.section {
  min-height: 90dvh;
}
